body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000000;
    color: #babcbb;
    font-family: 'Circular', sans-serif; 

}
.nav-item {
    left: 60px;
    margin-right: 20px; /* Adjust the value as needed */
    text-decoration: none;
    position: relative;
    color: #babcbb;
}

.nav-item::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Adjust the default position for all links */
    left: 0;
    width: 0;
    height: 3px; /* Adjust the height of the line */
    background-color: #babcbb;
    border-radius: 2px; /* Adjust the border-radius for rounded edges */
    transition: width 0.3s ease; /* Add smooth transition effect */
}

.nav-item:hover::after {
    width: 100%;
}

.home-link::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Adjust the default position for the home link */
    left: 0;
    width: 100%;
    height: 3px; /* Adjust the height of the line */
    background-color: #babcbb;
    border-radius: 30px; /* Adjust the border-radius for rounded edges */
}

.project-content {
  display: flex;
  color: #babcbb;
  margin-bottom: 40px;
  margin-top: 30px;
  margin-left: 40px;
  max-width: 47%;
}

.wrap {
  margin-left: 20px;
}

.introduction1 {
  color: #babcbb;
  margin-bottom: 10px;
  margin-top: 36px;
  margin-left: 40px;
}

.design-process-button {
    margin-top: 22px;
    margin-left: 40px;
    width: 200px;
    height: 40px;
    background-color: #000000;
    color: #babcbb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    align-items: center;
    padding: 0 10px; /* Add padding for better visual appearance */
}

.design-process-button span {
    white-space: nowrap;
}


.design-process-button:hover {
    background-color: #4c4c4c;
}

.design-process-button i {
    color: #ffffff;
}

.fullheader {
    display: flex;
}

.project-content h1 {
    font-size: 2.5em;
    margin-bottom: 0.45em;
}

.subtitle {
    font-size: 1em;
    line-height: 1.1;
  margin-top: -14px;
  padding: 6px 20px;
  border: 1px solid white;
  display: inline-block;
  border-radius: 60px;
  font-style: italic;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed to fit your layout */
    background-color: #f0f0f0; /* Optional background color */
}

.video-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the video covers the entire container */
}

#number {
    white-space: nowrap;
}

footer {
    left: 40px;
    height: 65px;
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 60px;
    opacity: 80%;
    display: flex;
    color: #babcbb; /* Text color */
}

.fullbar {
    display: flex;
    width: 34%;
    justify-content: space-between;
}

#output1 {
    color: #babcbb; /* Text color */
    text-decoration: none; /* Remove underline */
}

#output2, #contact{
    padding-bottom: 30px;
}

.contactfull {
    max-width: 60%;
}

.footerbar,
.contactdetails {
    max-width: 40%;
}

.footer-item {
    display: block;
    color: #babcbb;
    text-decoration: none;
}


@media (max-width: 768px) {
    .footer {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-start; /* Align items to the start */
    }

    .footerbar,
    .contactdetails {
        max-width: 100%; /* Set to full width on smaller screens */
        margin-bottom: 0; /* Remove margin between sections when stacked */
    }

    #output2,
    #contact {
        padding-bottom: 0; /* Remove padding on smaller screens */
    }