body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000000;
        font-family: 'Circular', sans-serif; 


}

.logo {
/*  position: absolute;*/
  top: 40px;
  left: 40px;
  height: 65px;
  width: auto;
  margin-top: 30px;
  margin-left: 60px;
  opacity: 80%;
}

.nav-item {
    left: 60px;
    margin-right: 20px; /* Adjust the value as needed */
    text-decoration: none;
    position: relative;
    color: #babcbb;
}

.nav-item::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Adjust the default position for all links */
    left: 0;
    width: 0;
    height: 3px; /* Adjust the height of the line */
    background-color: #babcbb;
    border-radius: 2px; /* Adjust the border-radius for rounded edges */
    transition: width 0.3s ease; /* Add smooth transition effect */
}

.nav-item:hover::after {
    width: 100%;
}

.home-link::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Adjust the default position for the home link */
    left: 0;
    width: 100%;
    height: 3px; /* Adjust the height of the line */
    background-color: #babcbb;
    border-radius: 30px; /* Adjust the border-radius for rounded edges */
}

.introduction1 {
    color: #babcbb;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-left: 40px;
    max-width: 18%;
}

.introduction2 {
    color: #babcbb;
    margin-top: 30px;
    margin-left: 30px;
    max-width: 20%;
}

.fullheader {
    display: flex;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed to fit your layout */
    background-color: #f0f0f0; /* Optional background color */
}

.video-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the video covers the entire container */
}

.navbar a {
    color: #babcbb; /* Change navigation font color */
    text-decoration: none; /* Remove underline */
}

footer {
    left: 40px;
    height: 65px;
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 60px;
    opacity: 80%;
    display: flex;
    color: #babcbb; /* Text color */
}

#number {
    white-space: nowrap;
}

.fullbar {
    display: flex;
    width: 34%;
    justify-content: space-between;
}

#output1 {
    color: #babcbb; /* Text color */
    text-decoration: none; /* Remove underline */
}

#output2, #contact{
    padding-bottom: 30px;
}

.contactfull {
    max-width: 60%;
}

.footerbar,
.contactdetails {
    max-width: 40%;
}


.footer-item {
    display: block;
    color: #babcbb;
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-start; /* Align items to the start */
    }

    .footerbar,
    .contactdetails {
        max-width: 100%; /* Set to full width on smaller screens */
        margin-bottom: 0; /* Remove margin between sections when stacked */
    }

    #output2,
    #contact {
        padding-bottom: 0; /* Remove padding on smaller screens */
    }
}
